@use "./base.scss";

// put your custom CSS here!

body {
  font-size: 1.1rem;
  line-height: 1.7;
}

.popover-hint {
  max-width: 800px; // 콘텐츠 최대 너비 설정
  margin: 0 auto; // 가운데 정렬
  padding: 2rem; // 내부 여백 추가
}
